ServerSelectionScreen {
    align: center middle;
    width: 50;
}

#server_select {
    width: 50;
}

ActionSelectionScreen {
    align: center middle;
}

#action_select {
    width: 50;
}

DestinationSelectionScreen {
    align: center middle;
}

#destination_dialog {
    width: 50;
    height: auto;
    border: round $primary;
    padding: 1;
}

#destination_label {
    width: 100%;
    margin-bottom: 1;
    text-align: center;
}

#destination_select {
    width: 100%;
}

RightColumn {
    width: 7fr;
    height: 99vh;
    border: round $primary;
}

LeftColumn {
    width: 3fr;
}

GraphWidget {
    width: 1fr;
    margin_right: 1;
    margin_left: 1;

}

.graphs_row {
    height: 1fr;
    margin_bottom: 1;
}

NodeWidget {
    height: 2fr;
    border: round $primary;
    scrollbar-size: 1 1;
}

LxcWidget {
    height: 4fr;
    border: round $primary;
    scrollbar-size: 1 1;    
}

QemuWidget {
    height: 4fr;
    border: round $primary;
    scrollbar-size: 1 1;    
}

.focused {
    border: round $accent
}

.unfocused {
    border: round $primary
}

FilterScreen {
    align: center middle;
}

#input_filter {
    width: 50;
}

ConfirmationScreen {
    align: center middle;
}

#confirm_dialog {
    width: auto;
    height: 9;
    border: round $primary;
    padding: 1;
}

#confirm_question {
    min-width: 36;
    margin-bottom: 1;
    text-align: center;
}

#confirm_buttons {
    align: center middle;
    width: 100%;
}

#confirm_no {
    margin-right: 1;
    width: auto;
}

#confirm_yes {
    width: auto;
}

.details_left {
    width: 2fr;
}
.details_right {
    width: 4fr;
}

BulkScreen {
    align: center middle;
}

#bulk_dialog {
    width: 80;
    height: auto;
    max-height: 90%;
    border: round $primary;
    padding: 1;
}

#bulk_operation {
    width: 100%;
}

#bulk_migrate {
    height: auto;
    width: 100%;
}

#bulk_source {
    width: 1fr;
    margin-right: 1;
}

#bulk_target {
    width: 1fr;
}

#bulk_guests {
    height: 12;
    margin-top: 1;
}

#bulk_buttons {
    align: right middle;
    height: auto;
    margin-top: 1;
}

#bulk_cancel {
    margin-right: 1;
}

